/* Start: Default Styles */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background: var(--secondary-color);
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* End: Default Styles */
